<DOCTYP html lang="en">


  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PainNoMore</title>
    <meta name="description" content="A Sleep Solution">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

  </head>
  <style>
    body {
      background-image: url('./PNM.jpg');
      background-size: cover;
      width: 100vw;
      transform: translate(-50% -50%);
      height: 100vh;


    }

    .content {
      position: absolute;

      top: 50%;
      left: 50%;


    }
  </style>










  <body>

    <header class="mb-auto">

      <div>

        <h3 class="float-md-start mb-0">PainNoMore</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="Wizard.html">Wizard</a>
          <a class="nav-link  " href="help.html">Help</a>
          <a class="nav-link " href="Import.html">Import</a>
        </nav>
      </div>
    </header>

    <div class="content" <!-- Custom styles for this template -->
      <link href="cover.css" rel="stylesheet">
      </head>






      <body class="d-flex h-100 text-center text-white bg-dark">

        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">




          <main class="px-3">
            <div class=" d-flex flex-direction: column img-responsive" <a><img src="logo.png"
                style="width:200px;  align-self: center;" </a>
              ></div>
            <h1>A Sleep Solution</h1>
            <p class="lead">
              <a href="Wizard.html" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Wizard</a>
              <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Help</a>
              <a href="Import.html" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Import</a>
            </p>
          </main>

          <footer class="mt-auto text-white-50">
            <p></p>
          </footer>
        </div>


      </body>



      </html>